* {
    font-family: 'Poppins', Poppins, sans-serif;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline: none;
    border: none;
}

h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 0.9em;
}

.container {
    text-align: center;
}

p {
    margin: 0px 100px 0px 100px;
    background-color: #212221;
    padding: 30px;
    font-size: 21px;
}

.troubleshoot {
    font-size: 5rem;
    margin-top: 10rem;
}

.snippet {
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
}

.problem {
    font-size: 2em;
    padding: 10px;
}

.return-to-video {
    padding: 10px;
    text-decoration: none;
    margin: 30px;
    transition: .2s ease;
}

.return-to-video:hover {
    background-color: #222222;
    border-radius: 8px;
    border: 3px dotted black;
}
